/* место для вашего кода */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 92px 24px;
    font-size: 18px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
}

.header__links-list {
    display: flex;
}

.header__links-list-item {
    margin-left: 13px;
    letter-spacing: 1%;
    list-style-type: circle;
}

.header__link-active {
    text-decoration: none;
}

.header__link {
    border-bottom: 1px solid black;
}

.header__links-list-item:nth-of-type(2), .header__links-list-item:nth-of-type(3) {
    margin-left: 34px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo {
    width: 140px;
    margin-left: -151px;
}

.header__address {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-right: 24px;
    font-style: normal;
    line-height: 24px;
}

.header__address-link {
    border-bottom: 1px solid black;
}

.cover {
    height: 757px;
    margin-top: -2px;
    
    position: relative;
    
}

.cover::before {
    content: '';
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/cover.jpg);
    background-size: 125%;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    z-index: -1;
}

/* .overlay {
    width: 1100px;
    height: 757px;
    background-color: rgba(0, 0, 0, 0.6);
} */

.cover__title {
    width: 1000px;
    height: 355px;
    margin: 0 50px;
    padding-top: 165px;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    color: white;
}

.aligned-text {
    letter-spacing: 30px;
}

.no-letter-spacing {
    margin-left: 30px;
    letter-spacing: 0px;
}

.aligned-text_center {
    margin-top: 9px;
    align-self: center;
    letter-spacing: 30px;
}

.aligned-text_right {
    align-self: flex-end;
    letter-spacing: 30px;
}

.letter-spacing-extended {
    letter-spacing: 60%;
    margin-right: 60px;
}

.letter-spacing-extended:nth-of-type(1) {
    margin-left: 0;
}