/* место для вашего кода */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 91px 24px 90px;
    font-size: 18px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
}

.header__links-list {
    display: flex;
}

.header__links-list-item {
    margin-left: 13px;
    list-style-type: circle;
}

.header__link-active {
    text-decoration: none;
}

.header__link {
    border-bottom: 1px solid black;
}

.header__links-list-item:nth-of-type(2),
.header__links-list-item:nth-of-type(3) {
    margin-left: 34px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo {
    width: 140px;
    margin-right: 151px;
}

.header__address {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-right: 24px;
    font-style: normal;
    line-height: 24px;
}

.header__address-link {
    text-decoration: underline;
}

.cover {
    height: 757px;
    position: relative;
}

.cover__background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.cover__title {
    position: absolute;
    top: 165px;
    left: 0;
    width: 1000px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    color: white;
}

.aligned-text {
    letter-spacing: 30px;
}

.no-letter-spacing {
    margin-left: 30px;
    letter-spacing: 0px;
}

.aligned-text_center {
    align-self: center;
    margin-top: 9px;
    letter-spacing: 30px;
}

.aligned-text_right {
    align-self: flex-end;
    margin-top: 2px;
    letter-spacing: 30px;
}

.letter-spacing-extended {
    margin-right: 60px;
}

.letter-spacing-extended:nth-of-type(1) {
    margin-left: 0;
}

.cover__description {
    position: absolute;
    top: 655px;
    left: 28px;
    width: 972px;
    height: 50px;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
}

.whitespace {
    display: inline-block;
    width: 20px;
}

.whitespace-wider {
    width: 22px;
}

.whitespace-tight {
    width: 19px;
}

.bet-button {
    width: 256px;
    height: 50px;
    background: transparent;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
}

.lots {
    margin: 179px 24px 146px;
    width: 1052px;
}

.lots__heading {
    margin-left: 40px;
    font-size: 40px;
    font-weight: 700;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 27px;
    list-style-type: none;
}

.card-link {
    display: block;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    min-height: 563px;
    padding: 51px 40px 48px;
    color: white;
}

.card_type_film,
.card_type_book,
.card_type_picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.card__title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    font-size: 20px;
    line-height: 24px;
}

.lots__look-more-link {
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 182px 24px 0;
    width: 1052px;
}

.about__logo-column {
    display: flex;
    width: 334px;
    justify-content: center;
}

.about__logo {
    display: inline-flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
}

.about__text-column {
    margin-left: 8px;
}

.about__title {
    margin: 100px 0;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    line-height: 24px;
    word-spacing: 1px;
}

.about__text:first-of-type {
    margin-bottom: 24px;
}